*.apk
TweetPockets/TweetPockets.Droid/bin/
TweetPockets/TweetPockets.Droid/obj/
TweetPockets/TweetPockets/bin/
TweetPockets/TweetPockets/obj/
*.user
*.suo
packages/
TweetPockets/TweetPockets.Droid/TweetPockets.Droid.csproj.bak